*.gem
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
Gemfile.lock
_site/
node_modules/
vendor/
/assets/presentations/backup
/assets/code/.ipynb_checkpoints
/assets/code/hdmpy
/assets/presentations/notes
